<h1>
    Stocky &#128480;
</h1>

<% if @portfolios%>
<h3>&#128176;: $<%=all_portfolio_value%></h3>

<ul>
<% @portfolios.each do |portfolio| %>
    <li>
        <span class="stock"><%= link_to portfolio.name, portfolio_path(portfolio) %></span> &nbsp;
        <span class="value">=> $<%= portfolio.total_value%></span><br>
        <span class="delete"><%= link_to "delete", portfolio_path(portfolio), method: :delete, data: {confirm: "Are you sure?"} %></span>
    </li>
    <hr>
<% end %>
</ul>
<% end %>

<%= form_tag({controller: "refreshers", action: "update"}, method: "patch") do%>
  <%= submit_tag("Refresh All Stocks") %>
<% end %>

<%= link_to "New Portfolio", new_portfolio_path %>
