<h1>
    Portfolios
</h1>
<% if @portfolios%>
<ul>
<% @portfolios.each do |portfolio| %>
    <li>
        <%= link_to portfolio.name, portfolio_path(portfolio) %> &nbsp;
        <span>Net Value: $<%= portfolio.total_value%></span><br>
        <%= link_to "delete", portfolio_path(portfolio), method: :delete %>
    </li>
<% end %>
</ul>
<% end %>

<%= form_tag({controller: "refreshers", action: "update"}, method: "patch") do%>
  <%= submit_tag("Refresh All Stocks") %>
<% end %>

<%= link_to "New Portfolio", new_portfolio_path %>
