<h1><%= @portfolio.name %></h1>
<%= render 'form' %>

<h3>Total Value: $<%= @portfolio.total_value%></h3>
<br>
<%= render partial: 'stocks/stock', collection: @portfolio.stocks %>
<br>
<%= link_to "add stock", edit_portfolio_path %>
