<div>
  <h4><%= stock.name %></h4>
  <span>Symbol:<%= stock.symbol %></span>
  <span>Amount:<%= stock.amount %></span>
  <br>
  <span>Price:<%= stock.price %></span>
  <span>Change:<%= stock.change %></span>
  <span>High:<%= stock.high %></span>
  <span>Low:<%= stock.low %></span>
</div>
