<div class="stock-display">
  <h4><%= stock.name %></h4>
  <span>Symbol: <%= stock.symbol %></span>
  <span>Amount: <%= stock.amount %></span>
  <span>Price: $<%= stock.price %></span>
  <br>
  <span>Net Value: $<%= total_value(stock) %></span>
  <span>Change: <%= stock.change %>%</span>
  <span>High: <%= stock.high %></span>
  <span>Low: <%= stock.low %></span>
  <br>
  <%= link_to "edit amount", edit_portfolio_stock_path(portfolio_id: stock[:portfolio_id], id: stock[:id])%> |
  <span class="delete"><%= link_to "delete", portfolio_stock_path(portfolio_id: stock[:portfolio_id], id: stock[:id]), method: :delete, data: {confirm: "Are you sure?"}%></span>
</div>
